aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.0
aiohttp-session==2.12.1
aiosignal==1.3.2
attrs==25.3.0
cffi==1.17.1
cryptography==45.0.3
dnspython==2.7.0
frozenlist==1.6.0
idna==3.10
multidict==6.4.4
propcache==0.3.1
pyaes==1.6.1
pycparser==2.22
pymediainfo-pyrofork==6.0.2
pymongo==4.13.0
pyrofork==2.3.63
PySocks==1.7.1
python-dotenv==1.1.0
TgCrypto==1.2.5
uvloop==0.21.0
yarl==1.20.0
