{% extends "base.html" %}
{% block content %}
<h2>Search Results for "{{ query }}"</h2>

<form class="mb-3" method="get" action="/search">
  <div class="input-group">
    <input name="q" class="form-control" type="search" value="{{ query }}" placeholder="Search files..."/>
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </div>
</form>

{% if search_results %}
<div class="row row-cols-1 row-cols-md-4 g-3">
  {% for file in search_results %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ file.name }}</h5>
        <p class="card-text">From: {{ file.channel_name }}</p>
        <a href="/rchatid/{{ file.encoded_name }}?id={{ file.msg_id }}&hash={{ file.hash }}" class="btn btn-primary">Watch</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No results found for your query.</p>
{% endif %}

{% endblock %}
